# Node dependencies
node_modules
dist
package-lock.json

# System files
.DS_Store

# Environment files
.env
.env.local
.env.*.local

# Editor/IDE settings
.idea
.vscode

# Logs and build info
*.log

# Test and cache outputs
coverage
